:root {
    --primary-color: #b6547b;
    --secondary-color: #c76b98;
    --accent1-color: #5a3e85;
    --accent2-color: #fafbff;
    --heading-font: "Georgia", serif;
    --body-font: "Verdana", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--accent1-color);
    margin: 20px 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid var(--accent1-color);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border-radius: 20px;
}

h2 {
    text-align: center;
    padding: 10px;
    border-radius: 18px;
    background-color: var(--accent1-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 15px;
    padding: 10px;
    border-radius: 18px;
    background-color: var(--accent2-color);
    opacity: 0.7;

}

.hero article img {
    float: right;
    width: 125px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero,
section {
    border: 1px solid var(--accent1-color);
    margin: 20px 0;
}

.historygrid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 30px;
    align-items: center;
}

.history img {
    width: 200px;
}

.adventure {
    padding: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}

.adventure h2 {
    grid-column: 1 / -1;
}

figure img {
    width: 150px;
    height: 200px;
}

footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--primary-color);

}

socialmedia {
    display: flex;
}

.socialmedia a {
    text-decoration: none;
    border: 1px solid var(--accent1-color);
    width: 30px;
    height: 40px;
}

.socialmedia img {
    width: 40px;
    height: 40px;
}