:root {
    --primary-color: #f8f4e3;
    --secondary-color: #c76b98;
    --accent1-color: #5a3e85;
    --accent2-color: #fafbff;
    --heading-font: "Georgia", serif;
    --body-font: "Verdana", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent1-color);
    margin: 20px 0;
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid var(--accent1-color);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.hero h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border-radius: 20px;
}

h2 {
    text-align: center;
    padding: 10px;
    border-radius: 18px;
    background-color: var(--accent1-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 15px;
    padding: 10px;
    border-radius: 18px;
    background-color: var(--accent2-color);
    opacity: 0.7;

}

.hero article img {
    float: right;
    width: 125px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero,
section {
    border: 1px solid var(--accent1-color);
    margin: 20px;
}

.historygrid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 30px;
    align-items: center;
}

.history img {
    width: 200px;
}

.adventure {
    padding: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}

.adventure h2 {
    grid-column: 1 / -1;
}

figure img {
    width: 150px;
    height: 200px;
}

.address {
    margin-bottom: 5px;
    text-align: center;
    font-weight: 50;
    background-color: var(--primary-color);
}

.address h1 {
    font-size: 2rem;

}

.address p {
    margin: 1px;
    line-height: 0.8;
}

.flex-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    background-color: var(--primary-color);
}

.map,
form {
    flex: 1;
}

iframe {
    width: 400px;
    height: 300px;
}

.form-first {
    display: grid;
    grid-template-columns: 100px 250px;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.purpose {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.purpose legend {
    width: 100px;
}

.options label {
    display: block;
    margin-bottom: 8px;
}

textarea {
    width: 370px;
    height: 80px;
}

.newsletter {
    display: flex;
    align-items: center;
    gap: 8px;
}

button {
    width: 360px;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    color: black;
    background-color: var(--primary-color);
}

.container {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 10px;
    align-items: center;
    border: none;

}

.container h2 {
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    opacity: 0.7
}

.newsletter-box,
.cta {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 12px;
}

.newsletter-box form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.newsletter-box button {
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
}

.offerings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    border: none;
}

.offering {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 12px;
}

.offering img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

.trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--primary-color);
}

.trip img {
    width: 100%
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    background-color: var(--primary-color);
}

th,
td {
    border: 1px solid var(--accent1-color);
    padding: 12px;
    text-align: center;
}

thead tr {
    background-color: var(--secondary-color);

}

footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

footer p {
    color: black;
}

socialmedia {
    display: flex;
}

.socialmedia a {
    text-decoration: none;
    border: 1px solid var(--accent1-color);
}

.socialmedia img {
    width: 30px;
    height: 30px;
}